matplotlib==3.1.1
Keras==2.3.1
object_detection==0.1
tensorflow_gpu==1.15
numpy==1.16.5
opencv_python==4.1.1.26
pandas==0.25.1
tqdm==4.36.1
imutils==0.5.3
matplotlib==3.3.0
numpy==1.19.1
Pillow==7.2.0
scikit_learn==0.23.2
tensorflow==2.5.3
